.cards-amount-select {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &__select {
    padding: 0.3rem;

    background-color: rgb(14, 14, 14);
    color: inherit;
    border: 1px solid yellow;
    border-radius: 7px;

    cursor: pointer;
  }
}
