.main {
  min-height: 100vh;
  padding: 2rem;
  background-color: rgb(14, 14, 14);

  &__error-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  &__error-message {
    padding: 0.7rem 1rem;

    position: absolute;
    top: 2rem;
    right: 2rem;
    border: 1px solid red;
    border-radius: 7px;

    color: red;
  }
}
